
.companyLogosCarousel {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 30px;
}

.companyLogoCarousel {
    animation: 25s slide infinite linear;
    display: inline-flex;
    gap: 30px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.companyLogosCarousel::before, .companyLogosCarousel::after {
    position: absolute;
    top: 0; 
    width: 50px;
    height: 100%;
    content: "";
    z-index: 2;
}

.companyLogosCarousel::before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), white);
}

.companyLogosCarousel::after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), white);
}

@media (max-width: 640px) {

    .companyLogosCarousel {
        gap: 10px;
    }

    .companyLogoCarousel {
        gap: 10px;
        animation: 18s slide infinite linear;
    }
}

@media (min-width: 641px) and (max-width: 767px) {

    .companyLogosCarousel {
        gap: 20px;
    }

    .companyLogoCarousel {
        gap: 20px;
        animation: 20s slide infinite linear;
    }
}

@media (min-width: 768px) and (max-width: 949px) {

    .companyLogosCarousel {
        gap: 25px;
    }

    .companyLogoCarousel {
        gap: 25px;
        animation: 23s slide infinite linear;
    }
}

@media (min-width: 950px) and (max-width: 1279px) { 

    .companyLogosCarousel {
        gap: 30px;
    }

    .companyLogoCarousel {
        gap: 30px;
        animation: 25s slide infinite linear;
    }
}

