@media (max-width:640px) {
    .formContainer{
        gap: 16px;
    }
    .requestContainer{
        flex-direction: column;
        gap: 16px;
    }
    .requestPoints_container{
        gap: 16px;
    }
    .img_requestForm{
        /* object-fit: contain; */
        width: 100%;
    }
    .consultation_form{
        flex-direction: column;
        padding: 24px;
    }
    .btn_consultationForm{
        width: 100%;
    }
}

@media (min-width:641px) and (max-width:900px) {
    .title_formContainer{
        line-height: normal;
    }
    .formContainer{
        gap: 18px;
    }  
    .requestPoints_container{
        gap: 18px;
    }
    .consultation_form{
        flex-direction: row;
        padding: 24px;
    }
    .img_requestForm{
        object-fit: contain;
        width: 50%;
    }
    .input_consultationForm{
        width: 155px;
    }
    .btn_consultationForm{
        width: 350px;
    }
}

@media (min-width:901px) and (max-width:1124px) {
    .formContainer{
        gap: 40px;
    }  
    .requestPoints_container{
        gap: 40px;
    }
    .consultation_form{
        flex-direction: row;
        padding: 40px;
    }
    .img_requestForm{
        object-fit: contain;
        width: 35%;
    }
    .input_consultationForm{
        width: 225px;
    }
    .btn_consultationForm{
        width: 350px;
    }
}

@media (min-width:1125px) {
    .formContainer{
        gap: 40px;
    }
    .title_formContainer{
        width: 585px;
    }    
    .requestPoints_container{
        gap: 40px;
    }
    .img_requestForm{
        object-fit: contain;
        width: 41%;
    }
    .consultation_form{
        flex-direction: row;
        padding: 40px;
    }
    .input_consultationForm{
        width: 325px;
    }
    .btn_consultationForm{
        width: 350px;
    }
}

.formContainer{
    display: flex;
    flex-direction: column;
}



.requestContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.request_title{
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.requestPoints_container{
    display: flex;
    flex-direction: column;
}

.request_points{
    display: flex;
    gap: 16px;
    min-width: 272px;
    align-items: center;
}

.points_container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.request_point{
    color:#404040;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.consultation_form{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 16px;
    background: #FFF;
    margin: 10px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.05);
}