@media (min-width: 640px){
  header {
  display: flex;
  max-width: 1440px;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(2px);
}

.headerContainer {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.headerLogo a{
  font-size: 26px;
}

.menuClose{
  display: none;
}

.headerNav {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.navTextBtn{
  display: none;
}

.notActiveNav{
  color: rgba(0, 0, 0, 0.50);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.isActiveNav{
  color:  rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: underline solid #06F 3px ;
  text-underline-offset: 30px;
}

.headerNav a:hover {
  color: #000000;
  text-decoration: underline solid #06F 3px ;
  text-underline-offset: 30px;
}

.social_icons{
  display: none;
}

.menuIcon{
  display: none;
}

.headerBottomLine {
  top: 79px;
}
}




@media (max-width: 640px) { 

header{
  max-width: 641px;
  background: rgb(255, 255, 255);
}

.headerContainer{
  max-width: 641px;
  flex-direction: column;
  align-items: flex-start;
  gap: 109px;
  padding: 16px;
}

.headerLogo a{
  font-size: 20.144px;
  line-height: 20.144px;
}
.menuClose.active{
  display: flex;
  width: 33px;
  height: 33px;
  position: absolute;
  right: 16px;
}

.headerNav{
  display: none;
}

.headerNav.active{
  width: 100%;
  height: 100vh;
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  background: var(--Secondary-Blue, #F0F3F3);
  top: 65px;
  left: 0;
  padding: 16px;
}

.navTextBtn{
  display: flex;
  flex-direction: column;
  height: 24px;
}

.notActiveNav{
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.social_icons{
  display: flex;
}

.social_icons a{
  width: 24px;
  height: 24px;
}

.menuIcon.active{
  display: flex;
  position: absolute;
  right: 16px;
}

.menuIcon{
  display: none;
}

.navBtn{
  display: none;
}

.headerBottomLine {
  top: 65px;
}
}



header{
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.headerContainer {
  display: flex;
  width: clamp(16rem, 90vw, 72.5rem);
  margin: 0 auto;
}

.headerLogo a{
  color: #222222;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuClose{
  display: none;
}

.notActiveNav{
  text-decoration: none;
}

.social_icons{
  flex-direction: row;
  gap: 24px;
}

.headerBottomLine {
  width: 1000%;
  height: 1.5px;
  background-color:#00000012;
  position: fixed;
  z-index: 10;
}
