
.BlogNews_Container{
    display: flex;
    flex-direction: column;
}

.articles{
    display: flex;
}

@media (max-width:801px){
    .BlogNews_Container{
        gap: 16px;
    }
    .articles{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
}

@media (min-width:801px) and (max-width:930px) {
    .BlogNews_Container{
        gap: 24px;
    }
    .articles{
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}

@media (min-width:931px){
    .BlogNews_Container{
        gap: 40px;
    }
    .articles{
        overflow: overlay;
        gap: 40px;
    }
}

