
@media(max-width:449px){
    .line_matker {
        min-width: 171px;
        max-width: 260px;
    }

    .description_matker {
        font-size: 16px;
        line-height: 20px;
    }
    .box{
        min-width: 171px;
        max-width: 260px;
    }
}

@media(min-width:450px) and (max-width: 900px){
    .line_matker {
        min-width: 171px;
    }
    .description_matker {
        font-size: 20px;
        line-height: 24px;
    }
    .box{
        min-width: 171px;
    }
}
@media (min-width: 901px) {
    .numder_matker{
        max-width: 450px;
    }
    .description_matker {
        font-size: 24px;
        line-height: 32px; 
    }
    .line_matker {
        min-width: 260px;
    }
    .box{
        width: 260px;
    }
}

.numder_matker {
    color: #D6D6D6;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px; 
}

.line_matker {
    height: 2px;
    background: #06F;
}

.description_matker {
    color: #000;
    font-weight: 600;
}

.box {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 0 0;
} 
