
.Bots5Days_Container{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.Bots5Days_content_Container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.nameOfBlock_Bots5Days{
    color: #D1D1D1;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.title_Bots5Days{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.description_Bots5Days{
    color: #292929;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.img_bots5Days{
    width: 400px;
}

@media (max-width: 640px) {
    .Bots5Days_Container{
        position: relative;
    }
    .Bots5Days_content_Container{
        margin-top: 253px;
        gap: 16px;
    }
    .img_bots5Days{
        position: absolute;
        top: 0;
        width: 100%;
        min-width: 358px;
        height: 237.214px;
        object-fit: contain;
    }

    .btn_bots5Days{
        width: 100%;
    }

}

@media (min-width: 641px) and (max-width:870px) {
    .Bots5Days_Container{
        position: relative;
        width: 100%;
    }
    .Bots5Days_content_Container{
        gap: 24px;
    }
    .btn_bots5Days{
        width: 307px;
    }
    .title_Bots5Days{
        line-height: normal;
    }
    .img_bots5Days{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 285px;
        height: 160px;
        object-fit: contain;
    }
    .description_Bots5Days{
        max-width: 310px;
        width: 100%;
    }
    
}


@media (min-width: 871px) {
    .Bots5Days_content_Container{
        display: flex;
        width: 600px;
    }
    .Bots5Days_content_Container{
        gap: 40px;
    }
    .title_Bots5Days{
        line-height: normal;
    }
    .btn_bots5Days{
        width: 307px;
    }
}